@media (min-width:320px) and (max-width:575px) {


    .title p {
        width: auto;
    }

    /*---------------------Navbar css-------------------------*/
    nav .navbar-brand {
        padding: 0;
        margin-left: 20px;
    }

    nav button i {
        width: 50px;
        height: 40px;
        border-radius: 6px;
        background: #fec600;
        line-height: 40px !important;
        margin-right: 10px;
    }

    nav button:focus {
        outline: 0;
    }

    nav .navbar-nav {
        background: #222222;
        margin: 20px !important;
        margin-bottom: 0 !important;
        padding-top: 10px;
        padding-bottom: 25px;
    }

    nav ul li {
        margin-top: 15px;
    }

    nav ul li a {
        margin-left: 0;
        text-align: center;
    }

    nav ul li a::after {
        bottom: -10px;
        left: 42%;
    }

    nav ul li a:hover::after {
        width: 16%;
    }

    /*---------------------Banner css-------------------------*/
    #banner-part .text {
        padding-top: 165px;
        padding-bottom: 120px;
    }

    #banner-part .text h2 {
        font-size: 27px;
    }

    #banner-part .text h1 {
        font-size: 40px;
    }

    #banner-part .text p {
        width: auto;
    }

    #banner-part .prev {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
        top: 60%;
        left: 20px;
    }

    #banner-part .next {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
        top: 60%;
        right: 20px;
    }

    #banner-part .text a {
        padding: 10px 15px !important;
    }

    /*---------------------About css-------------------------*/

    #about-part .item1 p,
    #about-part .item2 p {
        width: 225px !important;
    }

    #about-part .item4 {
        text-align: center;
        margin-right: 0;
    }

    #about-part .item4 p {
        margin-left: 0;
        width: auto;
    }

    #about-part .item3 {
        margin-left: 0;
        text-align: center;
        margin-top: 93%;
    }

    #about-part .item3 p {
        width: auto;
    }

    #about-part .shape {
        display: none;
    }

    #about-part i {
        display: none;
    }

    #about-part .img {
        width: 288px;
        height: 288px;
        border: 1px solid #545454;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #about-part .img img{
        width: 260px;
        height: 260px;
    }

    #about-part .img .overlay {
        width: 260px;
        height: 260px;
    }

    #about-part .img .item1 {
        top: -83%;
    }

    #about-part .img .item2 {
        bottom: -82%;
    }

    #about-part .about {
        margin-top: -240px;
    }
    
    /*---------------------Portfolio css-------------------------*/
    #portfolio-part .title{
        padding-top: 55px;
    }
    
    #portfolio-part{
        margin-top: 40px;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    }
    
    #portfolio-part .portfolio{
        padding-bottom: 50px;
    }
    
    #portfolio-part .shape{
        display: none;
    }
    
    /*---------------------Service css-------------------------*/
    #service-part .service-item .shape{
        display: none;
    }
    
    #testimonial-part .slick-slide{
    background: #fec600;
    transform: scale(1.3);
    border: none;
}
}









